{% extends 'base.html.twig' %}

{% block title %}Salut BlogController!{% endblock %}

{% block body %}

<h1>Bienvenue</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla architecto asperiores perferendis beatae
    aliquam quisquam ducimus aliquid vel reiciendis.</p>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, ratione! Aliquid, id culpa eius quis aut eos nobis.
    Odio, in!</p>
<p>Quasi, impedit et magni officiis blanditiis, corporis veritatis omnis ullam error nihil quisquam accusantium? Quam,
    aspernatur natus. Vero, iste alias.</p>
{% endblock %}